/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');


body {
	background: linear-gradient(-60deg, #eeeeee, #eeeeee, #eeeeee, #11468f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100vw;
    height:100vh;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#userPhoto {
    width: 100px;
    height: 100px;
    display: flex;
    border-radius: 20%;
    margin-left: 10px;
    margin-top: 10px;
}

#userName {
    color: #041562;
    display: block;
    width: 100%;
    text-decoration: none;
    margin-left:10px;
}

#userName h1 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;

}

#userName p {
    font-weight: 300;
    margin-top: -18px;
    text-transform: none;
}

i.fa {
    margin-right: 0.3rem;

}

#links {
    max-width: 500px;
    width: auto;
    display: block;
    margin: 55px auto;
}

.link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #041562;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
    padding: 30px;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 300;
    transition: all .25s cubic-bezier(.08, .59, .29, .99);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 10px;
  }
  

.link i{
    margin-right: 10px;
}

.link:hover {
    background-color: #11468f;
    color: #eeeeee;
    border: none;
}

#credit {
    color: #041562;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.7rem;
}

#typing-caption {
    overflow: hidden;
    white-space: nowrap;    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    animation: typing 3s steps(40) infinite;
    font-weight: 300;
  }
  

  
  